# OpenCV for computer vision tasks
opencv-python==4.8.0.74

Flask==2.1.2
gunicorn==20.1.0
opencv-python==4.6.0.66
transformers==4.11.0
spacy==3.5.0
numpy==1.23.5




scikit-learn==1.2.2



# For image manipulation and processing
Pillow==9.4.0

# Optional for machine learning/deep learning models
tensorflow==2.11.0
torch==1.13.1

# HTTP requests to call external APIs
requests==2.28.1



